
.place__image {
    width: 100%;
}

@media (min-width: 475px) and (max-width: 767px) {
    .place__image {
        width: 60vw;
    }
}

@media (min-width: 768px) {
    .place__image {
       grid-area: image; 
       max-width: 460px;
    }
}
