.header__lang { 
  list-style: none;
  display: inline-block;
 
  font-weight: normal;
  font-size: 1.125em;
  margin: 32px 0 0 16px;
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .header__lang {
    font-size: 1.5em;
    margin-top: 47px;
  }
}