.intro__list {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 19px;
  letter-spacing: 1px;
  margin: 0;
  list-style: none;
  padding: 0;
}

@media (min-width: 768px) {
  .intro__list {
    font-size: 0.813em;
    line-height: 20px;
  }
}

@media (min-width: 1024px) {
  .intro__list {
      width: 683px;
  } 
}

