.comments__container {
  max-width: 24em;
  margin: 38px auto 0;
  list-style: none;
  padding: 0;
}

@media (min-width: 768px) {
  .comments__container {
    margin-top: 70px;
  }
}

@media (min-width: 1024px) {
  .comments__container {
      max-width: 74em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 70px auto 0;
  }
}