.comments__container {
  max-width: 24em;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

@media (min-width: 1024px) {
  .comments__container {
      max-width: 74em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
}