.lead__caption {
  margin: 5px auto 0;
  text-align: left;
  width: 90%;
  font-weight: normal;
  font-size: 0.625em;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media (min-width: 1024px) {
  .lead__caption {
      margin: 15px 0 0;
  }
}