.comment__image {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  align-self: center; 
  margin: 0 auto 15px; 
}

@media (min-width: 1024px) {
  .comment__image {
      text-align: left;
      margin: 0 0 28px;
      align-self: flex-start;
  }
}