@import url(../footer/__copyright/footer__copyright.css);
@import url(../footer/__link/footer__link.css);
@import url(../footer/__list/footer__list.css);

.footer {
    max-width: 74em;
}

@media (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: space-between;
        margin: 102px 23px 0;
        min-width: 90%;
        height: 23px;
    }
}

@media (min-width: 1024px) {
    .footer {
        min-width: 887px;
        margin: 160px 23px 0 89px;
    }
}

@media (min-width: 1280px) {
    .footer {
        margin: 160px auto 0;
    }
}








