.video__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px auto 0;  
}

@media (min-width: 768px) {
  .video__container {
      flex-direction: row;
      margin: 73px auto 0;
  }
}

@media (max-width: 767px) {
  .video__container {
      max-width: 400px;
  }
}